{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}Atlas{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>
	<body>
    <div class="main-container">
		<header>
			{% block header %}
			<nav>
				<ul>
					<li><a class="active-page" href="{% url 'public_frontend:index' %}">Home</a></li>
					<li><a href="{% url 'public_frontend:features' %}">Features</a></li>
					<li><a href="{% url 'public_frontend:about' %}">About</a></li>
				</ul>
				<ul class="app-access">
					<li class="register-button"><a  href="{% url 'users:register' %}">Register</a></li>
					<li class="login-button"><a href="{% url 'users:login' %}">Login</a></li>
				</ul>
			</nav>
			{% endblock %}
		</header>
		<main>{% block content %} {% endblock %}</main>
  </div>
	</body>
</html>
